<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd/MM/yyyy HH:mm:ss.SSS z}] %-5level [%t] [%logger{0}:%L] - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!--appender name="DAILYROLLINGFILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}/service.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logdir}/service.%d{yyyyMMdd}.%i.log.gz</FileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{dd/MM/yyyy HH:mm:ss.SSS z}] %-5level [%t] [%logger{0}:%L] - %msg%n%rEx</pattern>
        </encoder>
    </appender-->

<!--    <appender name="queue" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <discardingThreshold>0</discardingThreshold>-->
<!--        <queueSize>10000</queueSize>-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </appender>-->

    <logger name="org.springframework" level="info"></logger>
    <logger name="org.hibernate.validator" level="info"></logger>
    <logger name="reactor.ipc" level="info"></logger>
    <logger name="org.apache.http" level="info"></logger>
    <logger name="io.netty" level="info"></logger>
    <logger name="reactor.netty" level="info"></logger>
    <logger name="io.reactivex" level="info"></logger>
    <logger name="com.solacesystems" level="info"></logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
        <delay>1000</delay>
    </shutdownHook>
</configuration>
